<%= form_with(model: @catcomment, local: true) do |f| %>
  <% if @catcomment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@catcomment.errors.count, "error") %> prohibited this catcomment from being saved:</h2>

      <ul>
        <% @catcomment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form.hidden_field :article_id, value: @article.id %>

    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  
  
    <%= form.submit %>
  </div>
<% end %>
